<head>
  <style>
    div.gallery {
      margin: 20px;
      border: 1px solid #ccc;
      float: left;
      width: 100%;
    }

    div.gallery:hover {
      border: 1px solid #777;
    }

    div.gallery img {
      width: 100%;
      height: auto;
    }

    div.desc {
      padding: 15px;
      text-align: center;
    }
  </style>
</head>
<body>
  {% for image in site.static_files %}
    {% if image.path contains 'images/comics' %}
      <div class="gallery">
        <img src="{{ site.url }}{{ image.path }}"/>
      </div>
    {% endif %}
  {% endfor %}


</body>
